// _planet-menu.scss

.planet-menu {
  width: 100%;
  height: 50px;

  border-bottom: 1px solid white;

  &__button {
    &.selected {
      border-bottom: 1px solid white;
    }
  }

  &__button-number {
    display: none;
  }

  &__extra-text {
    display: none;
  }
}
