@use "../abstracts/mixins" as *;

body {
  &::before {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    content: "";
    background-image: url("../design/Mobile - Mercury.png");
    background-size: 375px auto;
    opacity: 0;
    pointer-events: none;

    @include breakpoint-up(medium) {
      background-image: url("../design/Tablet - Saturn.png");
      background-size: 768px auto;
    }

    @include breakpoint-up(large) {
      background-image: url("../design/Desktop - Earth - 03.png");
      background-size: 1440px auto;
    }
  }
}
