// _colors.scss

$lightGrey: #d8d8d8;
$medGrey: #838391;
$darkGrey: #38384f;
$nearBlack: #070724;
$teal: #419ebb;
$green: #1ec1a2;
$blue: #2d68f0;
$purple: #6d2ed5;
$yellowishOrange: #eda249;
$orange: #cd5120;
$reddishOrange: #d14c32;
$red: #d83a34;
