// _colors.scss

$lightGrey: #d8d8d8;
$medGrey: #838391;
$darkGrey: #38384f;
$nearBlack: #070724;

.color-class-Mercury {
  --hero-color: #419ebb;
  --menu-color: #def4fc;
}

.color-class-Venus {
  --hero-color: #eda249;
  --menu-color: #ecad7a;
}

.color-class-Earth {
  --hero-color: #6d2ed5;
  --menu-color: #545bfe;
}

.color-class-Mars {
  --hero-color: #d14c32;
  --menu-color: #ff6a45;
}

.color-class-Jupiter {
  --hero-color: #d83a34;
  --menu-color: #ecad7a;
}

.color-class-Saturn {
  --hero-color: #cd5120;
  --menu-color: #fccb6b;
}

.color-class-Uranus {
  --hero-color: #1ec1a2;
  --menu-color: #65f0d5;
}

.color-class-Neptune {
  --hero-color: #2d68f0;
  --menu-color: #497efa;
}
