// _header.scss

@use "../abstracts/colors" as *;
@use "../abstracts/mixins" as *;

.header {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  padding: 16px 24px;
  border-bottom: 1px solid $medGrey;

  @include breakpoint-up(medium) {
    flex-direction: column;
    padding: 32px 52px 32px;
  }

  &__menu-button {
    @include breakpoint-up(medium) {
      display: none;
    }
  }

  &__hamburger-icon {
    width: 24px;
    height: 17px;
    margin-top: 3px;
  }

  &__menu-section {
    --top-offset: 70px;
    background-color: $nearBlack;
    position: absolute;
    z-index: 3;
    top: var(--top-offset);
    left: 0;
    width: 100%;
    height: calc(100vh - var(--top-offset));
    padding: 24px 32px 0 24px;

    display: none;

    &.open {
      display: block;

      @include breakpoint-up(medium) {
        display: flex;
      }
    }

    @include breakpoint-up(medium) {
      position: relative;
      top: 0;
      height: auto;

      padding: 0;
      margin-top: 39px;

      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__planet-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 65px;
    width: 100%;

    &:not(:last-child) {
      border-bottom: 1px solid $medGrey;
    }

    @include breakpoint-up(medium) {
      &:not(:last-child) {
        border: none;
      }
      height: auto;
      width: auto;
      color: $medGrey;

      &:hover {
        color: white;
      }
    }
  }

  &__menu-circle {
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--menu-color);

    @include breakpoint-up(medium) {
      display: none;
    }
  }

  &__button-label {
    margin-left: 25px;

    @include breakpoint-up(medium) {
      margin: 0;
    }
  }

  &__menu-icon {
    width: 4px;
    height: 8px;
    margin-left: auto;
    margin-right: 8px;

    @include breakpoint-up(medium) {
      display: none;
    }
  }
}
