// _planet-display.scss

@use "../abstracts/mixins" as *;

.planet-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 48px;

  @include breakpoint-up(medium) {
    display: grid;
    grid-template-areas:
      "image image"
      "text menu"
      "data data";

    padding: 0 40px 40px;
  }

  &__image-div {
    position: relative;
    width: 100%;
    height: 304px;
    grid-area: image;

    @include breakpoint-up(medium) {
      height: 454px;
    }
  }

  &__image {
    --image-scaling: 0.385;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%) scale(var(--image-scaling));

    @include breakpoint-up(medium) {
      --image-scaling: 0.6325;
    }

    &.hide {
      display: none;
    }

    &.image-geology {
      --geology-image-scaling: 0.193;
      --geology-image-translate-y: -32%;
      position: absolute;
      transform: translateY(var(--geology-image-translate-y)) translateX(-50%)
        scale(var(--geology-image-scaling));

      @include breakpoint-up(medium) {
        --geology-image-translate-y: -20.5%;
        --geology-image-scaling: 0.31625;
      }
    }
  }

  &__text-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: text;
    justify-self: start;
    align-self: start;

    @include breakpoint-up(medium) {
      align-items: flex-start;
      width: 339px;
      min-height: 253px;
    }
  }

  &__content {
    text-align: center;
    margin-top: 16px;
    padding: 0 24px;

    @include breakpoint-up(medium) {
      text-align: left;
      margin-top: 24px;
      padding: 0;
    }
  }

  &__source-link {
    color: white;
    opacity: 0.5;
    margin-top: 32px;

    @include breakpoint-up(medium) {
      margin-top: auto;
    }
  }

  &__link-icon {
    position: relative;
    top: 3px;
    margin-left: 4px;
  }

  &__planet-menu {
    order: -1;
    grid-area: menu;
    justify-self: end;

    @include breakpoint-up(medium) {
      margin-top: 6px;
    }
  }

  &__planet-data {
    margin-top: 28px;
    padding: 0 24px;
    width: 100%;
    grid-area: data;

    @include breakpoint-up(medium) {
      padding: 0;
      display: flex;
      flex-direction: row;
    }
  }
}
