// _planet-display.scss

@use "../abstracts/mixins" as *;
@use "../abstracts/animations" as *;

.planet-display {
  display: grid;
  grid-template-areas:
    "menu"
    "image"
    "text"
    "data";

  padding-bottom: 48px;
  margin-left: auto;
  margin-right: auto;

  @include breakpoint-up(medium) {
    grid-template-areas:
      "image image"
      "text menu"
      "data data";
    grid-template-columns: min-content auto;
    padding: 0 40px 40px;
    margin-top: 4px;
    max-width: 800px;
    column-gap: 20px;
  }

  @include breakpoint-up(large) {
    grid-template-areas:
      "image text"
      "image menu"
      "data data";
    grid-template-columns: none;
    margin-top: 8px;
    padding: 0 clamp(40px, calc((100vw - 1110px) / 2), 165px) 56px;
    max-width: 1440px;
  }

  &__image-div {
    position: relative;
    width: 304px;
    height: 304px;
    grid-area: image;
    justify-self: center;
    @include breakpoint-up(medium) {
      width: 460px;
      height: 460px;

      align-self: start;
    }

    @include breakpoint-up(large) {
      width: 500px;
      height: 754px;
      align-self: center;
    }

    &.flying-in {
      animation: fly-in 2s ease-out forwards;
    }

    &.previous-planet {
      display: none;

      &.flying-out {
        display: block;
        animation: fly-out 1s ease-in forwards;
      }
    }
  }

  &__image {
    --image-scaling: 0.385;
    --image-translate-y: -50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(var(--image-translate-y)) translateX(-50%)
      scale(var(--image-scaling));

    @include breakpoint-up(medium) {
      --image-scaling: 0.6325;
    }

    @include breakpoint-up(large) {
      --image-scaling: 1;
      --image-translate-y: -50%;
    }

    &.hide {
      display: none;
    }

    &.image-geology {
      --geology-image-scaling: 0.193;
      --geology-image-translate-y: -32%;
      position: absolute;
      transform: translateY(var(--geology-image-translate-y)) translateX(-50%)
        scale(var(--geology-image-scaling));

      @include breakpoint-up(medium) {
        --geology-image-translate-y: -20.5%;
        --geology-image-scaling: 0.31625;
      }

      @include breakpoint-up(large) {
        --geology-image-translate-y: -3.5%;
        --geology-image-scaling: 0.5;
      }
    }
  }

  &__text-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: text;
    justify-self: start;
    align-self: start;
    animation: var(--fading-in) 2s;

    @include breakpoint-up(medium) {
      align-items: flex-start;
      width: 339px;
      min-height: 253px;
      margin-top: -5px;
    }

    @include breakpoint-up(large) {
      width: 350px;
      justify-self: end;
      align-self: unset;
      margin-top: 138px;
    }
  }

  &__content {
    text-align: center;
    margin-top: 16px;
    padding: 0 24px;

    @include breakpoint-up(medium) {
      text-align: left;
      margin-top: 24px;
      padding: 0;
    }

    @include breakpoint-up(large) {
      margin-top: 45px;
    }
  }

  &__source-link {
    color: white;
    opacity: 0.5;
    margin-top: 32px;

    @include breakpoint-up(medium) {
      margin-top: auto;
    }

    @include breakpoint-up(large) {
      margin-bottom: 10px;
    }
  }

  &__link-icon {
    position: relative;
    top: 3px;
    margin-left: 4px;

    @include breakpoint-up(large) {
      margin-left: 8px;
    }
  }

  &__planet-menu {
    order: -1;
    grid-area: menu;
    justify-self: end;
    align-self: end;

    @include breakpoint-up(medium) {
      margin-top: 6px;
    }

    @include breakpoint-up(large) {
      margin-top: 0;
      margin-bottom: 96px;
    }
  }

  &__planet-data {
    margin-top: 28px;
    padding: 0 24px;
    width: 100%;
    grid-area: data;

    @include breakpoint-up(medium) {
      padding: 0;
      display: flex;
      flex-direction: row;
    }

    @include breakpoint-up(large) {
      margin-top: -6px;
    }
  }
}
