.color-class-Mercury {
  --hero-color: #419ebb;
  --menu-color: #def4fc;
}

.color-class-Venus {
  --hero-color: #eda249;
  --menu-color: #ecad7a;
}

.color-class-Earth {
  --hero-color: #6d2ed5;
  --menu-color: #545bfe;
}

.color-class-Mars {
  --hero-color: #d14c32;
  --menu-color: #ff6a45;
}

.color-class-Jupiter {
  --hero-color: #d83a34;
  --menu-color: #ecad7a;
}

.color-class-Saturn {
  --hero-color: #cd5120;
  --menu-color: #fccb6b;
}

.color-class-Uranus {
  --hero-color: #1ec1a2;
  --menu-color: #65f0d5;
}

.color-class-Neptune {
  --hero-color: #2d68f0;
  --menu-color: #497efa;
}

.button {
  cursor: pointer;
  border: none;
  background: none;
  color: white;
}

.planet-menu {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #838391;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
@media (min-width: 641px) {
  .planet-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 281px;
    height: auto;
  }
}
.planet-menu__button {
  position: relative;
  top: 1px;
  height: 100%;
  color: #838391;
  width: 80px;
}
@media (min-width: 641px) {
  .planet-menu__button {
    color: white;
    border: 1px solid #838391;
    width: 100%;
    height: 40px;
    text-align: left;
  }
  .planet-menu__button:not(:last-child) {
    margin-bottom: 16px;
  }
}
@media (min-width: 1025px) {
  .planet-menu__button {
    height: 48px;
  }
}
.planet-menu__button.selected {
  color: white;
  border-top: 4px solid transparent;
  border-bottom: 4px solid var(--hero-color);
}
@media (min-width: 641px) {
  .planet-menu__button.selected {
    border: none;
    background-color: var(--hero-color);
  }
}
.planet-menu__button-number {
  display: none;
  color: #838391;
}
@media (min-width: 641px) {
  .planet-menu__button-number {
    display: inline;
    margin-left: 20px;
    margin-right: 11px;
  }
}
@media (min-width: 1025px) {
  .planet-menu__button-number {
    margin-left: 28px;
    margin-right: 20px;
  }
}
.planet-menu__extra-text {
  display: none;
  color: white;
}
@media (min-width: 641px) {
  .planet-menu__extra-text {
    display: inline;
  }
}

.data-box {
  border: 1px solid #838391;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 48px;
  padding: 0 24px;
}
.data-box:not(:last-child) {
  margin-bottom: 8px;
}
@media (min-width: 641px) {
  .data-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    height: 88px;
    padding: 16px 0 0 13px;
  }
  .data-box:not(:last-child) {
    margin-bottom: 0;
    margin-right: 11px;
  }
}
@media (min-width: 1025px) {
  .data-box {
    height: 128px;
    padding: 22px 23px;
  }
  .data-box:not(:last-child) {
    margin-right: 30px;
  }
}
.data-box__label {
  color: #838391;
}
.data-box__value {
  margin-bottom: 8px;
}
@media (min-width: 641px) {
  .data-box__value {
    margin-bottom: 0;
    margin-top: 6px;
  }
}

.header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 16px 24px;
  border-bottom: 1px solid #838391;
}
@media (min-width: 641px) {
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 32px 52px 28px;
  }
}
@media (min-width: 1025px) {
  .header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 22px 40px 26px 32px;
  }
}
@media (min-width: 641px) {
  .header__menu-button {
    display: none;
  }
}
.header__hamburger-icon {
  width: 24px;
  height: 17px;
  margin-top: 3px;
}
.header__menu-section {
  --top-offset: 70px;
  background-color: #070724;
  position: absolute;
  z-index: 3;
  top: var(--top-offset);
  left: 0;
  width: 100%;
  height: calc(100vh - var(--top-offset));
  padding: 24px 32px 0 24px;
  display: none;
}
.header__menu-section.open {
  display: block;
}
@media (min-width: 641px) {
  .header__menu-section.open {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media (min-width: 641px) {
  .header__menu-section {
    background-color: transparent;
    position: relative;
    top: 0;
    height: auto;
    padding: 0;
    margin-top: 39px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media (min-width: 1025px) {
  .header__menu-section {
    width: 664px;
    margin-top: 8px;
  }
}
.header__planet-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 65px;
  width: 100%;
}
.header__planet-button:not(:last-child) {
  border-bottom: 1px solid #838391;
}
@media (min-width: 641px) {
  .header__planet-button {
    height: auto;
    width: auto;
    color: #838391;
  }
  .header__planet-button:not(:last-child) {
    border: none;
  }
  .header__planet-button:hover {
    color: white;
  }
}
.header__menu-circle {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--menu-color);
}
@media (min-width: 641px) {
  .header__menu-circle {
    display: none;
  }
}
.header__button-label {
  margin-left: 25px;
}
@media (min-width: 641px) {
  .header__button-label {
    margin: 0;
  }
}
.header__menu-icon {
  width: 4px;
  height: 8px;
  margin-left: auto;
  margin-right: 8px;
}
@media (min-width: 641px) {
  .header__menu-icon {
    display: none;
  }
}

.planet-display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 48px;
}
@media (min-width: 641px) {
  .planet-display {
    display: grid;
    grid-template-areas: "image image" "text menu" "data data";
    padding: 0 40px 40px;
    margin-top: 4px;
  }
}
@media (min-width: 641px) and (min-width: 1025px) {
  .planet-display {
    grid-template-areas: "image text" "image menu" "data data";
    margin-top: 8px;
    padding: 0 11.5% 56px;
    max-width: 1440px;
  }
}
.planet-display__image-div {
  position: relative;
  width: 304px;
  height: 304px;
  grid-area: image;
}
@media (min-width: 641px) {
  .planet-display__image-div {
    width: 460px;
    height: 460px;
    justify-self: center;
    -ms-flex-item-align: start;
        align-self: start;
  }
}
@media (min-width: 1025px) {
  .planet-display__image-div {
    width: 500px;
    height: 754px;
    -ms-flex-item-align: center;
        align-self: center;
  }
}
.planet-display__image {
  --image-scaling: 0.385;
  --image-translate-y: -50%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateY(var(--image-translate-y)) translateX(-50%) scale(var(--image-scaling));
          transform: translateY(var(--image-translate-y)) translateX(-50%) scale(var(--image-scaling));
}
@media (min-width: 641px) {
  .planet-display__image {
    --image-scaling: 0.6325;
  }
}
@media (min-width: 1025px) {
  .planet-display__image {
    --image-scaling: 1;
    --image-translate-y: -50%;
  }
}
.planet-display__image.hide {
  display: none;
}
.planet-display__image.image-geology {
  --geology-image-scaling: 0.193;
  --geology-image-translate-y: -32%;
  position: absolute;
  -webkit-transform: translateY(var(--geology-image-translate-y)) translateX(-50%) scale(var(--geology-image-scaling));
          transform: translateY(var(--geology-image-translate-y)) translateX(-50%) scale(var(--geology-image-scaling));
}
@media (min-width: 641px) {
  .planet-display__image.image-geology {
    --geology-image-translate-y: -20.5%;
    --geology-image-scaling: 0.31625;
  }
}
@media (min-width: 1025px) {
  .planet-display__image.image-geology {
    --geology-image-translate-y: -3.5%;
    --geology-image-scaling: 0.5;
  }
}
.planet-display__text-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-area: text;
  justify-self: start;
  align-self: start;
}
@media (min-width: 641px) {
  .planet-display__text-div {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 339px;
    min-height: 253px;
    margin-top: -5px;
  }
}
@media (min-width: 1025px) {
  .planet-display__text-div {
    width: 350px;
    justify-self: end;
    -ms-flex-item-align: unset;
        align-self: unset;
    margin-top: 121px;
  }
}
.planet-display__content {
  text-align: center;
  margin-top: 16px;
  padding: 0 24px;
}
@media (min-width: 641px) {
  .planet-display__content {
    text-align: left;
    margin-top: 24px;
    padding: 0;
  }
}
@media (min-width: 1025px) {
  .planet-display__content {
    margin-top: 45px;
  }
}
.planet-display__source-link {
  color: white;
  opacity: 0.5;
  margin-top: 32px;
}
@media (min-width: 641px) {
  .planet-display__source-link {
    margin-top: auto;
  }
}
@media (min-width: 1025px) {
  .planet-display__source-link {
    margin-top: 25px;
  }
}
.planet-display__link-icon {
  position: relative;
  top: 3px;
  margin-left: 4px;
}
@media (min-width: 1025px) {
  .planet-display__link-icon {
    margin-left: 8px;
  }
}
.planet-display__planet-menu {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  grid-area: menu;
  justify-self: end;
}
@media (min-width: 641px) {
  .planet-display__planet-menu {
    margin-top: 6px;
  }
}
@media (min-width: 1025px) {
  .planet-display__planet-menu {
    margin-top: 0;
    margin-bottom: 76px;
    width: 350px;
  }
}
.planet-display__planet-data {
  margin-top: 28px;
  padding: 0 24px;
  width: 100%;
  grid-area: data;
}
@media (min-width: 641px) {
  .planet-display__planet-data {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
@media (min-width: 1025px) {
  .planet-display__planet-data {
    margin-top: -6px;
  }
}

body::before {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  content: "";
  background-image: url("../design/Mobile - Mercury.png");
  background-size: 375px auto;
  opacity: 0;
  pointer-events: none;
}
@media (min-width: 641px) {
  body::before {
    background-image: url("../design/Tablet - Saturn.png");
    background-size: 768px auto;
  }
}
@media (min-width: 1025px) {
  body::before {
    background-image: url("../design/Desktop - Earth - 03.png");
    background-size: 1440px auto;
  }
}/*# sourceMappingURL=App.css.map */